body {
    background-color: rgba(255, 253, 218, 1);
    font-family: "Monaco",Monospace;
}

a {
    color: rgba(244, 140, 51, 1);
}
.title{
    color:darkslategrey;
    font-weight:Bold;
}
h2{
    color:rebeccapurple;
    font-weight:Bold;
}
.warning{
    font-size:12px;
    color:grey
}


.Menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(249, 206, 115, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.Logo {
    height: 45px;
    width: 200px;
    position: fixed;
    top: 14%;
    left: 96%;
    margin-top: -100px;
    margin-left: -200px;
}

li {
    float: left;
    font-size: 20px;
}

    li a {
        display: block;
        color: rgba(255, 86, 22, 1);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: white;
            color: black;
        }
.console{
    width:200px;
    height:200px;
}
#nes-new {
    width:200px;
    height:108.7px;
}
#snes-new {
    width:200px;
    height:103.8px;
}
#gc-new{
    width:200px;
    height:112.1px;
}
.accessories {
    width: 150px;
    height: 150px;
}
#HDMI-cable{
    
}
#comp-cord{

}
#sd-card{
    width:130px;
    height:auto;
}
#nes-controller{

}
    
#snes-controller{

}
        
#n64-controller{
    width:150px;
    height:84px;
}
            
#gc-controller{
    width:150px;
    height:115.7px;
}
                
#wii-controller{
    width:50px;
    height:auto
}
.page-2{
    text-align:center
}
.bulk{
    margin-left:25px;
    margin-right:25px;
}
hz{
    border:dashed;
    border-block-start:20px;
}
h3{
    color:darkseagreen;
    display:inline-block;
}
#life{
    float:right;
    margin-right:300px;
}
#recycle{
    float:left;
    margin-left:300px;
}
#recycle-text{
    float:left;
    margin-left:120px;
    margin-right:950px;
    text-align:center;
    display:inline-block;
}
#life-text{
    float:right;
    margin-right:120px;
    margin-left:950px;
    text-align:center;
    display:inline-block;
}
.details {
    display: inline-block;
}

                /* CSS HEX */
                --light-yellow: #FFFDDAff;
                --ut-orange: #F48C33ff;
                --jasmine: #F9CE73ff;
                --giants-orange: #FF5616ff;
                --brown: #8F5820ff;
                /* CSS HSL */
                --light-yellow: hsla(57, 100%, 93%, 1);
                --ut-orange: hsla(28, 90%, 58%, 1);
                --jasmine: hsla(41, 92%, 71%, 1);
                --giants-orange: hsla(16, 100%, 54%, 1);
                --brown: hsla(30, 63%, 34%, 1);
                /* SCSS HEX */
                $light-yellow: #FFFDDAff;
                $ut-orange: #F48C33ff;
                $jasmine: #F9CE73ff;
                $giants-orange: #FF5616ff;
                $brown: #8F5820ff;
                /* SCSS HSL */
                $light-yellow: hsla(57, 100%, 93%, 1);
                $ut-orange: hsla(28, 90%, 58%, 1);
                $jasmine: hsla(41, 92%, 71%, 1);
                $giants-orange: hsla(16, 100%, 54%, 1);
                $brown: hsla(30, 63%, 34%, 1);
                /* SCSS RGB */
                $light-yellow: rgba(255, 253, 218, 1);
                $ut-orange: rgba(244, 140, 51, 1);
                $jasmine: rgba(249, 206, 115, 1);
                $giants-orange: rgba(255, 86, 22, 1);
                $brown: rgba(143, 88, 32, 1);
                /* SCSS Gradient */
                $gradient-top: linear-gradient(0deg, #FFFDDAff, #F48C33ff, #F9CE73ff, #FF5616ff, #8F5820ff);
                $gradient-right: linear-gradient(90deg, #FFFDDAff, #F48C33ff, #F9CE73ff, #FF5616ff, #8F5820ff);
                $gradient-bottom: linear-gradient(180deg, #FFFDDAff, #F48C33ff, #F9CE73ff, #FF5616ff, #8F5820ff);
                $gradient-left: linear-gradient(270deg, #FFFDDAff, #F48C33ff, #F9CE73ff, #FF5616ff, #8F5820ff);
                $gradient-top-right: linear-gradient(45deg, #FFFDDAff, #F48C33ff, #F9CE73ff, #FF5616ff, #8F5820ff);
                $gradient-bottom-right: linear-gradient(135deg, #FFFDDAff, #F48C33ff, #F9CE73ff, #FF5616ff, #8F5820ff);
                $gradient-top-left: linear-gradient(225deg, #FFFDDAff, #F48C33ff, #F9CE73ff, #FF5616ff, #8F5820ff);
                $gradient-bottom-left: linear-gradient(315deg, #FFFDDAff, #F48C33ff, #F9CE73ff, #FF5616ff, #8F5820ff);
                $gradient-radial: radial-gradient(#FFFDDAff, #F48C33ff, #F9CE73ff, #FF5616ff, #8F5820ff);