body {
    background-color: rgba(255, 253, 218, 1);
    font-family: "Monaco",Monospace;
}

a {
    color: rgba(244, 140, 51, 1);
}
.title{
    color:darkslategrey;
    font-weight:Bold;
}
h2{
    color:rebeccapurple;
    font-weight:Bold;
}
.warning{
    font-size:12px;
    color:grey
}


.Menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(249, 206, 115, 1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.Logo {
    height: 45px;
    width: 200px;
    position: fixed;
    top: 14%;
    left: 96%;
    margin-top: -100px;
    margin-left: -200px;
}

li {
    float: left;
    font-size: 20px;
}

    li a {
        display: block;
        color: rgba(255, 86, 22, 1);
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: white;
            color: black;
        }
.console{
    width:200px;
    height:200px;
}
#nes-new {
    width:200px;
    height:108.7px;
}
#snes-new {
    width:200px;
    height:103.8px;
}
#gc-new{
    width:200px;
    height:112.1px;
}
.accessories {
    width: 150px;
    height: 150px;
}
#HDMI-cable{
    
}
#comp-cord{

}
#sd-card{
    width:130px;
    height:auto;
}
#nes-controller{

}
    
#snes-controller{

}
        
#n64-controller{
    width:150px;
    height:84px;
}
            
#gc-controller{
    width:150px;
    height:115.7px;
}

#wii-controller {
    width: 50px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.page-2{
    text-align:center
}
.bulk{
    margin-left:25px;
    margin-right:25px;
}
hz{
    border:dashed;
    border
}
              